{% for message in messages %}{% if loop.index0 == 0 and message['role'] == 'system'  %}{{ '<<SYS>>\\n' + message['content'] + '\\n<</SYS>>\\n\\n' }}{% elif loop.index0 > 0 and loop.index0 % 2 == 1 and message['role'] != 'user'  %}{{ 'ERROR#1' }}{% elif loop.index0 > 0 and loop.index0 % 2 == 0 and message['role'] != 'assistant'  %}{{ 'ERROR#2' }}{% elif message['role'] == 'user' %}{{ bos_token + '[INST] ' + message['content'] + ' [/INST]' }}{% else %}{{ ' '  + message['content'] + ' ' + eos_token }}{% endif %}{% endfor %}